doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500',
      rel='stylesheet', type='text/css')
    link(type="text/css", rel="stylesheet", href="public/styles.css")

  body
    h1 yesterday in fomo

    main
      ul.briefs

    script(type="text/javascript", src="public/index.js")
    script(type="text/javascript").
      window._meatbriefInit=!{JSON.stringify(data)};
    script(type="text/javascript").
      Briefly.init();
