doctype html
html
  head
    link(type="text/css", rel="stylesheet", href="public/styles.css")

  body

    h1 yesterday in fomo

    main
      ul.briefs

        each val in data
          li
            img(src= val.value.media)
            p= val.value.message
            date= new Date(val.value.created).toLocaleString()
