html {
  font-size: 100%;
}

body {
  background: white;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

date {
  bottom: 0;
  font-size: 0.75rem;
  position: absolute;
}

h1 {
  margin: 30px 10px;
}

img {
  float: left;
  margin: 10px;
  max-height: 100px;
  width: 133px;
}

li {
  border-top: 1px solid pink;
  clear: both;
  font-size: 1.25rem;
  margin: 5px 0;
  min-height: 100px;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
